<h2>Why Angular?</h2>

<p>
    We chose to work with Angular because it is one of the most sought after skills in many web programming based job listings.
    We have discovered a few reasons why knowledge of this framework is an asset.    
<p>
    Angular allows you practice MVC with little effort. This is because the framework encourages you to split your components into small pieces that Angular manages. 
    Databinding means you do not have to put data into a view manually. Angular sees a view as a plain HTML page with placeholders for data. Data models are plain old
    JavaScript objects and do not require getters/setter functions. This all amounts to writing less code that is more modular.
</p>  
