<div class="container card mt-3 detail-card">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-lg-3">
        <img class="img-fluid rounded" src="{{poke.img}}" alt="{{poke.name}} image">
      </div>
      <div class="col-sm-8 col-lg-4">
        <h2 class="mt-3 mt-sm-0 mb-0">Name: {{poke.name}}</h2>
        <h4 class="mt-0">Number: {{poke.num}}</h4>
        <p>Type: {{poke.type[0]}}<span *ngIf="poke.type[1]">, {{poke.type[1]}}</span></p>
        <p>Height: {{poke.height}}</p>
        <p>Weight: {{poke.weight}}</p>
    </div>
  </div>
</div>


