<h2>Sample Code</h2>
<hr>

<h4>The generate component command and its results in the Angular CLI</h4>
<img src="../assets/nggenerate.PNG">
<hr>

<h4>The ng serve command allows testing of the app locally</h4>
<img src="../assets/ngserve.PNG">
<hr>

<h4>A partial view of the MPC structure of an Angular project</h4>
<img  src="../assets/structure.PNG">
<hr>

<h4>Data binding to elements in a template</h4>
<img src="../assets/templates.PNG">
<hr>

<h4>An Angular module - a container for application controllers</h4>
<img src="../assets/modules.PNG">
<hr>

<h4>Check out this project's repository...</h4>
<hr>
<a href="https://github.com/GradyLealand/angular-pokedex">
  <img style="width: 40%; height: 40%" src="../assets/github-logo.png">
</a>