.pokemon-red
{
    background-color: red;
    border: 2px solid black;
    margin-bottom: 5px;
}

.pokemon-card
{
    float: left;
    height: 200px;
    width: 250px;
    margin: 5px;
}

.detail-card
{
    width: 500px;
}

.form-group
{
    width: 30%;
}

.navbar-brand, .nav-item
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.about-panel
{
    margin-top: 50px;
    margin-left: 10%;
}