<nav class="navbar pokemon-red">
  <a class="navbar-brand" href="#">POKEDEX</a>
</nav>
<div class="container">
  <h3 class="mb-0">Pokemon Search</h3>
  <div class="form-group">
    <div class="form-label"></div>
    <input class="form-control mt-2" type="text"
      [(ngModel)]="query">
  </div><!-- form-group -->

  <div class="justify-content-center">  
    <a href="#" class="card pokemon-card"
      *ngFor="let poke of pokemon"
      (click)="showPokemon(poke)">
      <app-pokemon-card [poke]="poke"></app-pokemon-card>
        
    </a><!-- link -->
  </div><!-- container -->

</div><!-- row -->



