<h2>What did we learn?</h2>

<p>
  Angular is an application framework which allows you to structure your code in a way that makes it easier to build web applications using web technologies.
  It allows you to develop across all platforms and reuse your code for any deployment target. 
  It is more specifically a component-based framework, which means that code is built in small connected pieces. These pieces may contain their own scripts,
  templates, CSS, or other components.
</p>  
<p>
  This framework is also modular. This means that all the small components that are created are only called on when they are required.
  This makes Angular extremely fast and efficient. Key features of this modularity include data binding and templates.
</p>
<p>
   Databinding involves connecting templates, or views, and information, sometimes referred to as data or models. Angular has a templating system which looks like HTML with
   some additional formats for attributes, and tags that you can build and define yourself. 
</p>
<p>
    This project allowed us to learn the basics about this framework and some of its previously mentioned core features.
</p>

