<h2>References</h2>

<ul>
  <li><a href="https://stackblitz.com/edit/angular-communication-1">Angular Communication Demo</a></li>
  <li><a href="https://angular.io/">Angular.io</a></li>
  <li><a href="https://www.lynda.com/Angular-tutorials/Learning-Angular/677480-2.html">Lynda.com - Learning Angular</a></li>
  <li><a href="https://github.com/Biuni/PokemonGO-Pokedex/blob/master/pokedex.json">Pokemon JSON</a></li>
  <li><a href="https://vignette.wikia.nocookie.net/project-pokemon/images/9/9f/Pokeball.ico/revision/latest?cb=20170104182729">Pokeball Icon</a></li>
  <li><a href="https://medium.com/dailyjs/3-ways-to-communicate-between-angular-components-a1e3f3304ecb">"3 ways to communicate between Angular components"</a></li>
</ul>  
